// Colors: https://coolors.co/546a76-889da8-b3c5ce-c9d5db-d4ecf9
$background-color: #B3C5CE;
$primary-color: #546A76;
$secondary-color: #889DA8;

@font-face {
  font-family: Moon;
  src: local('Moon Light'), url("Moon Light.otf") format("opentype");
}

@font-face {
  font-family: Moon;
  font-weight: bold;
  src: local('Moon Bold'), url("Moon Bold.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-size: 1em;
  background-color: $background-color;
}

#container {
  width: 300px;
  margin: 50px auto;
  position: relative;
}

.stripe {
  stroke: $secondary-color;
  stroke-width: 5px;
  stroke-linecap: round;
}

.player {
  fill: none;
  stroke: $primary-color;
  stroke-width: 10px;
}

.noone {
  fill: transparent;
}

.end {
  font-family: 'Moon', 'Roboto', Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: $primary-color;

  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  padding-top: 90px;
  background-color: rgba($background-color,0.9);

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}
