html {
  font-size: 1em;
  background-color: #B3C5CE;
}

.stripe {
  stroke: #889DA8;
  stroke-width: 3px;
  stroke-linecap: round;
}

.player {
  fill: none;
  stroke: #546A76;
  stroke-width: 10px;
}
